body{
margin:0;
font-family:'Pacifico',cursive;
background:black;
color:white;
text-align:center;
overflow-x:hidden;
}

#mainContent{display:none;}

.lockTitle{
margin-top:120px;
font-size:40px;
}

input,button{
padding:12px;
border-radius:25px;
border:none;
margin:10px;
font-size:16px;
}

button{
background:#ff1e56;
color:white;
cursor:pointer;
}

.hero img{
width:80%;
max-width:500px;
border-radius:20px;
filter:grayscale(100%);
transition:1.5s;
}

.hero img.color{
filter:grayscale(0%);
}

.mainTitle{
font-family:'Great Vibes',cursive;
font-size:50px;
color:#ff4d6d;
}

.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.card{
width:200px;
height:250px;
perspective:1000px;
}

.inner{
position:relative;
width:100%;
height:100%;
transition:transform 0.8s;
transform-style:preserve-3d;
}

.card.flipped .inner{
transform:rotateY(180deg);
}

.front,.back{
position:absolute;
width:100%;
height:100%;
backface-visibility:hidden;
border-radius:15px;
}

.front img{
width:100%;
height:100%;
object-fit:cover;
border-radius:15px;
}

.back{
background:white;
color:#ff1e56;
display:flex;
align-items:center;
justify-content:center;
padding:10px;
transform:rotateY(180deg);
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
}

.modalContent{
background:white;
color:#ff1e56;
padding:30px;
margin:10% auto;
width:70%;
border-radius:20px;
}

.close{
float:right;
font-size:25px;
cursor:pointer;
}

video,canvas{
width:250px;
margin:10px;
border-radius:15px;
}

.heart{
position:fixed;
top:-10px;
font-size:24px;
animation:fall linear forwards;
}

@keyframes fall{
to{transform:translateY(100vh);}
}
